{% extends "base.html" %}
{% block head_title %}Consumeren kun je leren{% endblock %}
{% block content %}
<div class="row" ng-controller="InitialController">
	<div class="col-md-12">
		<h3>Voorraden (<a href="/stocks">voeg voorraad toe</a>)</h3>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Product</th>
					<th>Voorraad</th>
				</tr>
				{% for product in products %}
				<tr>
					<td>{{product.name}}</td>
					<td>{{product.stock}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}