{% extends "base.html" %}
{% block head_title %}Consumeren kun je leren{% endblock %}
{% block content %}
<div class="row" ng-controller="InitialController">
	<div class="col-md-12">
		<h3>Gebruikers</h3>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Gebruiker</th>
					<th>Saldo</th>
				</tr>
				{% for user in users %}
				<tr>
					<td>{{ user.0 }}</td>
					<td>€ {{ user.1.balance|floatformat:2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}