{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>
 <a class="btn btn-default" href="{{ signup_url }}">Registreren</a>
</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}?next=/">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-info" type="submit">Inloggen</button> <a class="button secondaryAction" href="{% url 'account_reset_password' %}"> <a class="btn btn-default" href="/accounts/signup/">Registreren</a> {% trans "Forgot Password?" %}</a>
  
</form>

{% endblock %}
